// Colors
$c-white: #ffffff !default;
$c-grey-lighter: #eeeeee !default;
$c-grey-light: #bbbbbb !default;
$c-grey: #888888 !default;
$c-grey-dark: #555555 !default;
$c-grey-darker: #333333 !default;
$c-black: #000000 !default;

$c-primary: hotpink !default;
$c-secondary: lawngreen !default;
$c-teritary: tomato !default;

$c-error: red !default;
$c-warning: yellow !default;
$c-info: blue;
$c-success: green;

// Spacing
$spacing-xs: 0.25rem !default;
$spacing-sm: 0.5rem !default;
$spacing-md: 1rem !default;
$spacing-lg: 1.25rem !default;
$spacing-xl: 1.5rem !default;
$spacing-xxl: 2rem !default;

// Typography
$font-size-base: 1rem !default;

// Tooltip
$tooltip-font-size: 0.85rem !default;
$tooltip-min-width: 200px !default;
$tooltip-max-width: 300px !default;
$tooltip-padding-top: 0.25rem !default;
$tooltip-padding-bottom: 0.25rem !default;
$tooltip-padding-right: 0.25rem !default;
$tooltip-padding-left: 0.25rem !default;
$tooltip-color: $c-white !default;
$tooltip-border-color: $c-primary !default;
$tooltip-bg: $c-primary !default;
$tooltip-margin: -5px !default;
$tooltip-arrow-color: $c-primary !default;
$tooltip-arrow-width: 5px !default;
$zindex-tooltip: 10 !default;

// Checkbox
$checkbox-bg: #dddddd !default;
$checkbox-bg-checked: $c-primary !default;
