{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-no-invalid-hex": true,
    "indentation": 2,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "function",
          "if",
          "each",
          "for",
          "include",
          "mixin",
          "font-face",
          "warn",
          "debug",
          "error",
          "extend",
          "use",
          "forward",
          "at-root"
        ]
      }
    ]
  }
}
